<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員登録</title>
</head>
<body>
	<h1>登録内容確認</h1>
	
	<p>以下の内容で登録します</p>
	
	<form action="/sp30/account" method="post">
		<input type="hidden" name="name" th:value="${account.name}">
		<input type="hidden" name="email" th:value="${account.email}">
		<input type="hidden" name="password" th:value="${account.password}">
		
		<table border="1">
			<tr>
				<th>名前</th>
				<td>[[${account.name}]]</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>[[${account.email}]]</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>[[${account.password}]]</td>
			</tr>
		</table>
		
		<input type="submit" value="登録">
	</form>
</body>
</html>